{{#> layout/base title="Rezepte - Neu" }}

    {{#*inline "head-block"}}
    <style>
        #recipe-form {
            border: 3px solid #0000A0;
            background-color: #DCDCFF;
            padding: 1em;
        }
    </style>
    {{/inline}}

    {{#*inline "content-block"}}
        {{> header }}
        <h1>Neues Rezepte</h1>

        {{#if common.message}}
            <p>{{#if common.message_type}}{{common.message_type}}: {{/if}}{{ common.message }}</p>
        {{/if}}

        <div id="recipe-form">
            <form action="/recipe" method="post" accept-charset="utf-8">
                <p>
                    <label for="category">Kategorie</label>
                    <select id="category" name="category">
                        {{#each categories}}
                        <option value="{{this.id}}" {{selected this.id 1}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" size="50" maxlength="50"/><br/>
                </p>
                <p>
                <label for="ingredients">Zutaten</label><br/>
                <textarea name="ingredients" cols="80" rows="10"></textarea><br/>
                </p>
                <p>
                <label for="preparation">Zubereitung</label><br/>
                <textarea name="preparation" cols="80" rows="15"></textarea><br/>
                </p>
                <p>
                <label for="number_people">Anzahl Personen</label>
                <input type="text" name="number_people" id="number_people"/><br/>
                </p>
                <p><input type="submit" value="Speichern"></p>
            </form>
        </div>
    {{/inline}}

{{/layout/base}}
