{{#> layout/base title="Rezepte - Details" }}

    {{#*inline "head-block"}}
    {{/inline}}

    {{#*inline "content-block"}}
        {{> header }}
        <h1>Rezept</h1>
        <div class="content">
            <p id="recipe-catrgory"><b>Kategorie:</b> {{recipe.category}}</p>
            <h2 id="recipe-name">{{recipe.name}}</h2>
            <b>Zutaten</b><br/>
            <p id="recipe-ingredients">{{{recipe.ingredients}}}</p>
            <b>Zubereitung</b><br/>
            <p id="recipe-preparation">{{{recipe.preparation}}}</p>
            <p id="recipe-people"><b>Anzahl Personen:</b> {{recipe.number_people}}</p>
            <p id="recipe-created"><b>vom:</b> {{recipe.created}}</p>
        </div>
        {{#if common.current_user}}
            <a href="/recipe/update/{{recipe.id}}">Bearbeiten</a> |
            <a href="#" onclick="if (confirm('Rezept wirklich löschen?')) { window.location='/recipe/delete/{{recipe.id}}';}">Löschen</a>
        {{/if}}
    {{/inline}}

{{/layout/base}}
