<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rezept</title>
        <style>
            #recipe-details {
                border: 2px solid;
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        {{> header }}
        <h1>Rezept</h1>
        <div id="recipe-details">
            <p id="recipe-catrgory"><b>Kategorie:</b> {{recipe.category}}</p>
            <h2 id="recipe-name">{{recipe.name}}</h2>
            <b>Zutaten</b><br/>
            <p id="recipe-ingredients">{{{recipe.ingredients}}}</p>
            <b>Zubereitung</b><br/>
            <p id="recipe-preparation">{{{recipe.preparation}}}</p>
            <p id="recipe-people"><b>Anzahl Personen:</b> {{recipe.number_people}}</p>
            <p id="recipe-created"><b>vom:</b> {{recipe.created}}</p>
        </div>
    </body>
</html>
