{{#> layout/base title="Rezepte - Details" }}

    {{#*inline "head-block"}}
        <style>
            #recipe-details {
                border: 3px solid #0000A0;
                background-color: #DCDCFF;
                padding: 1em;
            }
        </style>
    {{/inline}}

    {{#*inline "content-block"}}
        {{> header }}
        <h1>Rezept</h1>
        <div id="recipe-details">
            <p id="recipe-catrgory"><b>Kategorie:</b> {{recipe.category}}</p>
            <h2 id="recipe-name">{{recipe.name}}</h2>
            <b>Zutaten</b><br/>
            <p id="recipe-ingredients">{{{recipe.ingredients}}}</p>
            <b>Zubereitung</b><br/>
            <p id="recipe-preparation">{{{recipe.preparation}}}</p>
            <p id="recipe-people"><b>Anzahl Personen:</b> {{recipe.number_people}}</p>
            <p id="recipe-created"><b>vom:</b> {{recipe.created}}</p>
        </div>
    {{/inline}}

{{/layout/base}}
